header {
    width: 100%;
    background-color: antiquewhite;
    height: 90px;
}
#logo {
    width: 70px;
    height: 70px;
    float: left;
    margin: 10px 30px 10px 30px;
}
div.name1 {
    margin: 0;
    padding: 35px;
}
nav {
    float: right;
    width: auto;
    height: auto;
    background-color: white;
    border: 1px solid black;
    padding: 5px;
}
.ss {
    text-align: center;
}
.ss div {
    display: inline-block;
}
div.cont {
    max-width: 960px;
    margin: 0 auto;
}
table {
    background-color: black;
}
table tr:nth-child(2n){
    background-color:gainsboro;
}
table tr:nth-child(2n-1){
    background-color:lightslategrey;
}
footer {
    margin: 50px 20px;
    width: 100%;
}