#flexhead {
    display: flex;
    flex-direction: column;
}
#flexcont {
    display: flex;
    flex-direction: column;
    max-width: 800px;
    margin: 0 auto;
}
#flexhead header {
    display: flex;
    align-items: center;
}
#flexhead header, #flex nav{
    background-color: gainsboro;
    margin: 5px;
}
#logo {
    width: 70px;
    height: 70px;
    float: left;
    margin: 10px;
}
#flexhead nav {
    padding: 10px;
}
div.ss {
    display: block;
}

#flexcont table {
    order: 1;
}
#flexcont ul {
    order: 2;
}
#flexcont form {
    order: 3;
}
table {
    background-color: black;
}
table tr:nth-child(2n){
    background-color:gainsboro;
}
table tr:nth-child(2n-1){
    background-color:lightslategrey;
}
@media screen and (min-width: 800px) {
    #flexhead {
        flex-direction: row;
        background-color: gainsboro;
        justify-content: space-between;
    }
    #flexcont {
        max-width: 800px;
        margin: 0 auto;
    }
    .ss div {
        display: inline-block;
    }
    #flexhead header, #flex nav{
        margin: 0;
    }
    #flexhead header {
        background-color: unset;
    }
    #flexhead nav {
        justify-self: flex-end;
        background-color: white;
        border: 1px solid black;
        padding: 5px;
        align-self: flex-start;
    }
    #flexcont table {
        order: 2;
    }
    #flexcont hyperlinks {
        order: 1;
    }
}
footer {
    margin: 50px 20px;
    width: 100%;
}