#flex {
    display: flex;
    flex-direction: column;
}
#flex header {
    flex: 1;
}
#flex header, #flex nav{
    margin: 10px;
}
#logo {
    width: 70px;
    height: 70px;
    float: left;
    margin: 10px 30px 10px 30px;
}

#flex nav {
    flex: 1;
    background-color: white;
    border: 1px solid black;
    padding: 5px;
    align-self: flex-start;
}
.ss {
    text-align: left;
}
.ss div {
    display: block;
}
div.cont {
    max-width: 960px;
    margin: 0 auto;
}
table {
    background-color: black;
}
table tr:nth-child(2n){
    background-color:gainsboro;
}
table tr:nth-child(2n-1){
    background-color:lightslategrey;
}
@media screen and (min-width: 800px) {
    #flex {
        flex-direction: row;
        background-color: bisque;
    }
    .ss {
        text-align: center;
    }
    .ss div {
        display: inline-block;
    }
    #flex header, #flex nav{
        margin: 0;
    }
    #flex header {
        
    }
}
footer {
    margin: 50px 20px;
    width: 100%;
}