div.header {
    width: 100%;
    background-color: antiquewhite;
    padding: 10px;
    height: 100px;
}
#logo {
    width: 100px;
    height: 100px;
    float: left;
    margin-right: 10px;

}
div.name1 {
    padding: auto;
    width: auto;
    height: auto;
    margin: 40px;
}
div.menu {
    float: right;
    width: 80%;
    height: auto;
    background-color: white;
    border: 3px;
    padding: 5px;
}
.ss {
    text-align: center;
    width: auto;
}
.ss div {
    display: inline-block;
    width: auto;
    min-inline-size: 150px;
}